$color-primary: #00B4CF;
$color-primary-forcus: #01869A;

$color-danger: #2D4054;
$color-danger-forcus: #435466;

$color-info: #F3F3F3;
$color-info-forcus: #E1E4E6;

// wrong cruise style guide FF9A2A
$color-warning: #FFB902;
// wrong cruise style guide 7FBC39
$color-success: #80BC3A;
