<div class="status-wrapper">
  <div class="buiding block">
    <i class="icon-cog"></i>
    <div class="name">Building</div>
    <div class="count">3</div>
  </div>
  <div class="idle block">
    <i class="icon-coffee"></i>
    <div class="name">Idle</div>
    <div class="count">5</div>
  </div>
  <div class="machine">
    <div class="category">
      <div class="title">ALL</div>
      <div class="count">8</div>
    </div>
    <div class="category">
      <div class="title">PHYSICAL</div>
      <div class="count">4</div>
    </div>
    <div class="category">
      <div class="title">VIRTUAL</div>
      <div class="count">4</div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab active">All</div>
  <div class="tab">Physical</div>
  <div class="tab">Virtual</div>
</div>

<div class="agent-wrapper">
  <div class="agent">
    <div class="os"></div>
    <div style="flex: 1;">
      <div class="field-row">
        <i class="icon-desktop mgr10"></i>
        <b class="host mgr10">bjstdmngbgr01.thoughtworks.com</b>
        <span class="status mgr10">idle</span>
        <i class="icon-info mgr10"></i>
        <span class="ipaddr mgr10">192.168.1.117</span>
        <i class="icon-folder mgr10"></i>
        <span class="path mgr10">/var/lib/cruise-agent</span>
      </div>
      <div class="field-row">
        <button class="btn plus"><i class="icon-plus"></i></button>
        <div class="resources">
          <div class="resource">
            <span class="name">Firefox</span>
            <i class="icon-trash"></i>
          </div>
          <div class="resource">
            <span class="name">Safari</span>
            <i class="icon-trash"></i>
          </div>
          <div class="resource">
            <span class="name">Ubuntu</span>
            <i class="icon-trash"></i>
          </div>
          <div class="resource">
            <span class="name">Chrome</span>
            <i class="icon-trash"></i>
          </div>
        </div>
        <div class="options">
          <button class="btn btn-with-icon">
            <i class="icon-deny"></i>
            <span>Deny</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="agent">
      <div class="os"></div>
      <div style="flex: 1;">
        <div class="field-row">
          <i class="icon-desktop mgr10"></i>
          <b class="host mgr10">bjstdmngbgr01.thoughtworks.com</b>
          <span class="status mgr10">idle</span>
          <i class="icon-info mgr10"></i>
          <span class="ipaddr mgr10">192.168.1.117</span>
          <i class="icon-folder mgr10"></i>
          <span class="path mgr10">/var/lib/cruise-agent</span>
        </div>
        <div class="field-row">
          <button class="btn plus"><i class="icon-plus"></i></button>
          <div class="resources">
            <div class="resource">
              <span class="name">Firefox</span>
              <i class="icon-trash"></i>
            </div>
            <div class="resource">
              <span class="name">Safari</span>
              <i class="icon-trash"></i>
            </div>
            <div class="resource">
              <span class="name">Ubuntu</span>
              <i class="icon-trash"></i>
            </div>
            <div class="resource">
              <span class="name">Chrome</span>
              <i class="icon-trash"></i>
            </div>
          </div>
          <div class="options">
            <button class="btn btn-with-icon">
              <i class="icon-deny"></i>
              <span>Deny</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="agent">
        <div class="os"></div>
        <div style="flex: 1;">
          <div class="field-row">
            <i class="icon-desktop mgr10"></i>
            <b class="host mgr10">bjstdmngbgr01.thoughtworks.com</b>
            <span class="status mgr10">idle</span>
            <i class="icon-info mgr10"></i>
            <span class="ipaddr mgr10">192.168.1.117</span>
            <i class="icon-folder mgr10"></i>
            <span class="path mgr10">/var/lib/cruise-agent</span>
          </div>
          <div class="field-row">
            <button class="btn plus"><i class="icon-plus"></i></button>
            <div class="resources">
              <div class="resource">
                <span class="name">Firefox</span>
                <i class="icon-trash"></i>
              </div>
              <div class="resource">
                <span class="name">Safari</span>
                <i class="icon-trash"></i>
              </div>
              <div class="resource">
                <span class="name">Ubuntu</span>
                <i class="icon-trash"></i>
              </div>
              <div class="resource">
                <span class="name">Chrome</span>
                <i class="icon-trash"></i>
              </div>
            </div>
            <div class="options">
              <button class="btn btn-with-icon">
                <i class="icon-deny"></i>
                <span>Deny</span>
              </button>
            </div>
          </div>
        </div>
      </div>
</div>
