<div class="status-wrapper">
  <div class="buiding block">
    <i class="icon-cog"></i>
    <div class="name">Building</div>
    <div class="count">3</div>
  </div>
  <div class="idle block">
    <i class="icon-coffee"></i>
    <div class="name">Idle</div>
    <div class="count">5</div>
  </div>
  <div class="machine">
    <div class="category">
      <div class="title">ALL</div>
      <div class="count">8</div>
    </div>
    <div class="category">
      <div class="title">PHYSICAL</div>
      <div class="count">4</div>
    </div>
    <div class="category">
      <div class="title">VIRTUAL</div>
      <div class="count">4</div>
    </div>
  </div>
</div>

<div class="tabs">
  <div class="tab active">All</div>
  <div class="tab">Physical</div>
  <div class="tab">Virtual</div>
</div>

<div id="agent-list" class="agent-wrapper">
  
</div>
