<div class="agent">
  <input type="hidden" name="id">
  <div name="os" class="os"></div>
  <div style="flex: 1;">
    <div class="field-row">
      <div class="overview">
        <i class="icon-desktop mgr10"></i>
        <b class="host mgr10" name="host">bjstdmngbgr01.thoughtworks.com</b>
        <div class="status mgr10" name="status">idle</div>
      </div>
      <i class="icon-info mgr10"></i>
      <span class="ipaddr mgr10" name="ipaddr">192.168.1.117</span>
      <i class="icon-folder mgr10"></i>
      <span class="path mgr10" name="path">/var/lib/cruise-agent</span>
    </div>
    <div class="field-row">
      <button data-id="0" class="btn plus mgr10" onclick="AgentCtrl.openAddResourceDialog(this.getAttribute('data-id'))"><i class="icon-plus"></i></button>
      <div class="resources" name="resources">
        <div class="resource" name="resource">
          <span class="name">Firefox</span>
          <i class="icon-trash" onclick="removeResource(this)"></i>
        </div>
      </div>
      <div class="options">
        <button class="btn btn-with-icon">
          <i class="icon-deny"></i>
          <span>Deny</span>
        </button>
      </div>
    </div>
  </div>
</div>
